*.pyc
*.idea
data/*
results/*
/dataProcessingOfficial/**/*.txt
/dataProcessingOfficial/**/*.tsv
/dataProcessingOfficial/**/*.xlsx
dataProcessingOfficial/VLSP2020_RE_dev
dataProcessingOfficial/VLSP2020_RE_train
*.DS_Store
/dataProcessingOfficial/.vscode/settings.json

.DS_Store
.DS_Store?
**/.DS_Store
PhoBERT_base_fairseq
/results/cdr-test/b2-walks16_MM_ME_MS_ES_SS-ind_context_types_dist_freeze/info_train.log
dataProcessingOfficial/dev_processed/split_sentence_underthesea/docs/*
embeds/*
results/cdr-test/b2-walks16_MM_ME_MS_ES_SS-ind_context_types_dist_freeze/*
results/*
results/
blob/
blob/*
results/cdr-test/b2-walks16_MM_ME_MS_ES_SS-ind_context_types_dist_freeze