*.pyc
*.idea
data/CDR/
data/GDA/
data/VLSP/dummy
data/VLSP/processed
data/VLSP/processed_bak
data/VLSP/processed_copy_big
dataProcessingOfficialCleaned/dev_processed/split_sentence_underthesea/ignore_docs
dataProcessingOfficialCleaned/dev_processed/split_sentence_underthesea/ignore_docs/ignore_big_docs
dataProcessingOfficialCleaned/dev_processed/split_sentence_underthesea/error/copy_and_replace_worked_fils/worked_files

src/run.sh
sh/.env

results/*
/dataProcessingOfficialCleaned/**/*.txt
/dataProcessingOfficialCleaned/**/*.tsv
/dataProcessingOfficialCleaned/**/*.xlsx
dataProcessingOfficialCleaned/VLSP2020_RE_dev
dataProcessingOfficialCleaned/VLSP2020_RE_train
*.DS_Store
/dataProcessingOfficialCleaned/.vscode/settings.json

.DS_Store
.DS_Store?
**/.DS_Store
PhoBERT_base_fairseq
/results/cdr-test/b2-walks16_MM_ME_MS_ES_SS-ind_context_types_dist_freeze/info_train.log
dataProcessingOfficialCleaned/dev_processed/split_sentence_underthesea/docs/*
embeds/*
results/cdr-test/b2-walks16_MM_ME_MS_ES_SS-ind_context_types_dist_freeze/*
results/*
results/
blob/
blob/*
results/cdr-test/b2-walks16_MM_ME_MS_ES_SS-ind_context_types_dist_freeze


*.pyc
dataProcessingOfficialCleaned/VLSP2020_RE_dev
dataProcessingOfficialCleaned/VLSP2020_RE_train
PhoBERT_base_fairseq
/results/cdr-test/b2-walks16_MM_ME_MS_ES_SS-ind_context_types_dist_freeze/info_train.log
dataProcessingOfficialCleaned/dev_processed/split_sentence_underthesea/docs/*
dataProcessingOfficialCleaned/dev_processed/split_sentence_underthesea/error/error_not_found_ent_in_msg_to_half_manual_edit_words_in_doc/*
dataProcessingOfficialCleaned/dev_processed/split_sentence_underthesea/error/error_not_found_ent_in_msg_to_half_manual_edit_words_in_doc
embeds/*
results/*
results/
blob/
blob/*
